Flask==1.1.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.5
numpy
cython
keras-resnet==0.2.0
keras_retinanet
h5py
opencv-python-headless==4.2.0.32
pillow
tensorflow>=2.3.0
gdown
keras
